<!DOCTYPE html>
<html lang="en">
    {% include 'admin/head.html.twig' %}
    {% include 'admin/Signalements/script.html.twig' %}
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include 'admin/sidebar.html.twig' %}
        <!-- Main Content -->
        <div id="content">
            {% include 'admin/navigation.html.twig' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-xl-6 d-flex">
                        <a class="retour mt-auto mb-1" href="{{ path('admin.Signalements.index') }}" >
                            <i id="fleche-retour" class="fas fa-long-arrow-alt-left"></i>
                            <button id="bouton-retour" class="btn btn-sm rounded-pill">retour</button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <!-- table -->
                    <div class="col-xl-12">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="row col-sm-12">
                                    <div class="mb-3 table-responsive">
                                        <table id="table" class"table table-bordered w-100" role="grid">
                                            <thead>
                                                <tr id='entete' role="row">
                                                    <th scope='col'>Flux audio</th>
                                                    <th scope='col'>Date et heure de commencement du stream</th>
                                                    <th scope='col'>Date et heure du signalement</th>
                                                    <th scope='col'>Motif</th>
                                                </tr>
                                            </thead>
                                            <tbody id='malist' role="row">
                                                {% for OneSignal in OneSignals %}
                                                    <tr>
                                                        <td><a href="{{ path('admin.Signalements.blankpage') }}">{{ OneSignal.fluxAudio }}</a></td>
                                                        <td>{{ OneSignal.dateDebutStream }}</td>
                                                        <td>{{ OneSignal.dateHeureSignalement }}</td>
                                                        <td>{{ OneSignal.motif }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                          <div class="pagination mt-2 d-flex justify-content-center" id="pagination_data">
                                                 {{ knp_pagination_render(OneSignals) }}
                                           </div>  
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span class="text-black">Copyright &copy; Webradio - Stream - 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

  {% include 'admin/Signalements/script.html.twig' %}

</body>

</html>